<form method="post" action= "/albums/<%=foundAlbum._id%>?_method=PUT">
  <h2>Update album</h2>

  <% var year = foundAlbum.date.getFullYear().toString() %>
  <% var month = (foundAlbum.date.getMonth() + 1).toString() %>
  <% var day = foundAlbum.date.getDate().toString() %>
  <% var date = "" %>

  <% if (month.length < 2) { %>
  <%  month = "0" + month %>
  <% } %>

  <% if (day.length < 2) { %>
    <% day = "0" + day %>
  <% } %>

  <% var date = year + "-" + month + "-" + day %>

  <h2><%= date %></h2>

  <div class="row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" name="albums[name]" id="name" placeholder="Album title" value="<%= foundAlbum.name %>">
    </div>
    <div class="form-group col-md-6">
      <input type="date" class="form-control" name="albums[date]" id="date" value="<%= date %>">
    </div>
    <div class="form-group col-md-12">
      <input type="text" class="form-control" name="albums[description]" id="description" placeholder="Describe your album" value="<%= foundAlbum.description %>">
    </div>
    <div class="form-group col-md-4">
      <input type="file" class="form-control" name="albums[photos]" id="photos" placeholder="Put your photos" value="<% foundAlbum.photos %>">
    </div>
    <div class="form-group col-md-4">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
