<form method="post" action="/albums/<%=foundAlbum._id%>?_method=PUT" enctype="multipart/form-data">
  <h2>Update album</h2>

  <% var year = foundAlbum.date.getFullYear().toString() %>
  <% var month = (foundAlbum.date.getMonth() + 1).toString() %>
  <% var day = foundAlbum.date.getDate().toString() %>
  <% var date = "" %>

  <% if (month.length < 2) { %>
  <%  month = "0" + month %>
  <% } %>

  <% if (day.length < 2) { %>
    <% day = "0" + day %>
  <% } %>

  <% var date = year + "-" + month + "-" + day %>

  <h2><%= date %></h2>

  <div class="row">

    <div class="form-group col-md-6">
      <input type="text" class="form-control" name="albums[name]" id="name" placeholder="Album title" value="<%= foundAlbum.name %>">
    </div>
    <div class="form-group col-md-6">
      <input type="date" class="form-control" name="albums[date]" id="date" value="<%= date %>">
    </div>
    <div class="form-group col-md-12">
      <textarea type="text" class="form-control" name="albums[description]" id="description" placeholder="Describe your album" value="<%= foundAlbum.description %>"></textarea>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="portfolio-items isotopeWrapper clearfix isotope" id="3" style="position: relative; height: <%= Math.ceil(foundAlbum.photos.length/6)*144 %>px;">


          <% for (var i = 0; i < foundAlbum.photos.length; i++) { %>
            <article class="col-md-2 isotopeItem webdesign isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(<%= (i%6 * 195) %>px, <%= Math.floor(i/6)*144 %>px, 0px) scale3d(1, 1, 1); opacity: 1;">
              <div class="portfolio-item">
                <div style="visibility: visible; position: relative;">
                  <img src="<%= foundAlbum.photos[i].url %>" alt="welcome" style="width: 175px; height: 131.25px; position: relative; top:50%">
                  <input type="checkbox" value="<%= foundAlbum.photos[i].url %>" name="pullPhotos" style="z-index:50; position: absolute; top: 0; left:5px">
                </div>
              </div>
            </article>
          <% } %>



        </div>
      </div>
    </div>




    <div class="form-group col-md-4">
      <input type="file" class="form-control" name="albums[photos]" id="photos" placeholder="Put your photos" value="<% foundAlbum.photos %>" multiple>
    </div>
    <div class="form-group col-md-4">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
