<h1>Photo Gallery<span><a href="/albums/new" class="btn btn-primary" style="float: right">Create</a></span></h1>



<div class="events">

    <%if (foundAlbums.length > 0) {%>
      <%foundAlbums.forEach(function (album) {%>

        <div class="container">
          <div class="col-md-4">
            <div class="slider" style="height: 320px; background: white">
              <div class="img-responsive">

                  <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 300px">
                    <ul class="bxslider" style="width: 100%; position: relative;">

                    <%for (var i = 0; i < album.photos.length; i++) {%>

                      <li style="float: none; list-style: none; position: relative; width: 350px; z-index: 50; display: block">
                        <img src="<%= album.photos[i].url %>" alt="" style="max-width: 100%; height: auto; margin: 0 auto">
                      </li>

                    <%}%>

                    </ul>
                </div>

            </div>
          </div>
        </div>
          <div class="col-md-8">
            <h2><%=album.name%></h2>
            <%=album.date.getDate() + "." + album.date.getMonth() + "." + album.date.getFullYear()%>
            <p>
              <%= album.description %>
            </p>
            <div style="display: flex">
              <a href="/albums/<%=album.id%>" class="btn btn-primary">View</a>
              <a href="/albums/<%=album.id%>/update" class="btn btn-primary">Edit</a>
              <form method="POST" action="/albums/<%= album.id%>?_method=DELETE">
              <button class="btn btn-danger" type="submit">
                Delete
                </button>
              </form>
            </div>
          </div>
        </div>
      <%})%>
    <%}%>
