<h1> <%= foundAlbum.name %> </h1>

<div class="row">
      <div class="col-md-4">

        <%= foundAlbum.name %>
        <pre>
          <%= foundAlbum.description %>
        </pre>
        <a href="/albums/<%=foundAlbum.id%>/update" class="btn btn-primary">Edit album</a>
        <form method="POST" action="/albums/<%= foundAlbum.id%>?_method=DELETE">
            <button class="btn btn-danger" type="submit">
              Delete
            </button>
          </form>

        <% foundAlbum.photos.forEach(function (photo) { %>
          <div width="20%" height= "20%">
            <img src="<%= photo.url %>" width="200px" height="auto" alt="image not available"></img>
        </div>

        <% }) %>



        </div>

</div>
