<h1 style="margin-bottom: 50px">Events<span><a href="/events/new" class="btn btn-primary" style="float:right">Create</a></span></h1>


<% let conEvents = [] %>
<% let propEvents = [] %>

<% foundEvents.forEach(function (event) { %>

  <% if (!event.completed) { %>
    <%   if (event.status === 'confirmed') { %>
      <%     conEvents.push(event) %>
      <%   } else if (event.status === 'proposed') { %>
        <%     propEvents.push(event) %>
        <%   } %>

  <% } %>
<% }) %>

<% if (conEvents.length > 0) { %>
  <div class="events row col-md-12" style="margin-bottom: 50px">

  <div class="col-md-2" style="float:left">
    <h3>Upcoming</h3>
  </div>
    <% conEvents.forEach(function (event) { %>

      <div class="row" style="clear: left">

      <div class="col-md-2">
      </div>

      <div class="col-md-8" style="margin-bottom: 20px">
        <h5><%=event.name%></h5>
        <%=event.date.getDate() + "." + event.date.getMonth() + "." + event.date.getFullYear()%>
        <p>
          <%= event.description %>
        </p>

        <div style="display: flex">
          <a href="/events/<%=event.id%>" class="btn btn-primary">View</a>
          <a href="/events/<%=event.id%>/update" class="btn btn-primary">Edit</a>
          <form method="POST" action="/events/<%= event.id%>?_method=DELETE">
            <button class="btn btn-danger" type="submit">
              Delete
            </button>
          </form>
        </div>

      </div>

      </div>

      <% }) %>



    </div>

<% } %>

<% if (propEvents.length > 0) { %>
  <div class="events row col-md-12" style="margin-bottom: 50px">

  <div class="col-md-2" style="float:left">
    <h3>Upcoming</h3>
  </div>

    <% propEvents.forEach(function (event) { %>

      <div class="row" style="clear:left">

      <div class="col-md-2">
      </div>

      <div class="col-md-8" style="margin-bottom: 20px">
        <h5><%=event.name%></h5>
        <%=event.date.getDate() + "." + event.date.getMonth() + "." + event.date.getFullYear()%>
        <p>
          <%= event.description %>
        </p>

        <div style="display: flex">
          <a href="/events/<%=event.id%>" class="btn btn-primary">View</a>
          <a href="/events/<%=event.id%>/update" class="btn btn-primary">Edit</a>
          <form method="POST" action="/events/<%= event.id%>?_method=DELETE">
            <button class="btn btn-danger" type="submit">
              Delete
            </button>
          </form>
        </div>

      </div>

      </div>

      <% }) %>
    </div>

<% } %>
